body
{
  background-color: #E4E4E4;
}
h1
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3rem;
}
#simonBoard
{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 100px auto;
  border-radius: 30%;
  border:17px solid #333;
  margin-top: 3%;

}
#middle_circle
{
  height: 300px;
    width: 300px;
   background-color: #333;
    border-radius: 50%;
    display: absolute;
    position: absolute;
    margin: auto;
    top: 150px;
    left: 150px;
    z-index: 100;
      cursor: pointer;
}
#title
{
  color:white;
  font-size: 82px;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  font-family:'Yellowtail';
}
p
{
  color:white;
     font-size: 16px;
     font-family:'Oswald';
    text-align: center;
     position: relative;

   }
   h2 {

     color:white;
     text-align: center;
     font-family:'Oswald';
     font-size: 40px;
}
.square {
    width: 300px;
    height: 300px;
    float: left;
  }
  .one {
    background: -webkit-linear-gradient(left top, red, #FF7979);
    background: -o-linear-gradient(bottom right, red, #FF7979);
    background: -moz-linear-gradient(bottom right, red, #FF7979);
    background: linear-gradient(to bottom right, red, #FF7979);
    border-radius: 30% 0 0 0;
  }
  .two {
    background: -webkit-linear-gradient(right top, blue, #A6A6FF);
    background: -o-linear-gradient(bottom left, blue, #A6A6FF);
    background: -moz-linear-gradient(bottom left, blue, #A6A6FF);
    background: linear-gradient(to bottom left, blue, #A6A6FF);
    border-radius: 0 30% 0 0;
  }
  .three {
    background: -webkit-linear-gradient(left bottom, green, #00FF00);
    background: -o-linear-gradient(top right, green, #00FF00);
    background: -moz-linear-gradient(top right, green, #00FF00);
    background: linear-gradient(to top right, green, #00FF00);
    border-radius: 0 0 0 30%;
  }
  .four {
    background: -webkit-linear-gradient(right bottom, yellow, #FFFF95);
    background: -o-linear-gradient(top left, yellow, #FFFF95);
    background: -moz-linear-gradient(top left, yellow, #FFFF95);
    background: linear-gradient(to top left, yellow, #FFFF95);
    border-radius: 0 0 30% 0;
  }
  .pressed {
    box-shadow: 0 0 30px black;
    background-color: black;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
